* {
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}

li.nav-icon:hover a span i,
ul.avatar-dropdown li:hover a,
ul.avatar-dropdown li:hover span{
    color: white;
}

.logo {
    width: 100px;
    height: 50px;
}

